{% extends 'mailing/base.html' %}

{% block content %}
     <h2>Получатели</h2>
         <a href="{% url 'recipient_add' %}">Добавить получателя</a>
         <table border="1">
         <tr><th>Email</th><th>ФИО</th><th>Комментарий</th><th>Действия</th></tr>
{% for recipient in object_list %}
     <tr>
     <td>{{ recipient.email }}</td>
     <td>{{ recipient.full_name }}</td>
     <td>{{ recipient.comment }}</td>
     <td>
     <a href="{% url 'recipient_edit' recipient.pk %}">Редактировать</a> |
     <a href="{% url 'recipient_delete' recipient.pk %}">Удалить</a>
     </td></tr>
{% endfor %}
    </table>
{% endblock %}
